@import '../../theme/commons';


.character_card {
    position: relative;
    height: 220px;
    width: 100%; // 175px;
    border-radius: 12px;
    overflow: hidden;
    
    transition: 300ms all;

    @media screen and (min-width: 800px) {
        height: 260px; 
    }
}
.character_card:hover {
    transform: scale(1.08);
    z-index: 1;
}

.character_card__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.character_card__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 8px;

    border-radius: 12px;

    background-color: rgba(41, 40, 40, 0.7);
    color: white;


    transition: 300ms all;

    @media screen and (min-width: 600px) {
        padding: 12px;
    }
}
.character_card:hover .character_card__content {
    background-color: rgba(41, 40, 40, 0.8);
}

.character_card__content__name_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.character_card__content__name_wrap__status {
    height: .8rem;
    width: .8rem;

    border-radius: 50%;

    background-color: $success_color;
}

.character_card__content__name_wrap__status__dead {
    background-color: $error_color;
}